doctype html
html
  head
    title MyNodeSite
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
  body
    header
      h1 Developing Websites using "Node.js"
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    .container
      .sub-content
        block sub-content-one
    footer
      p Running on node with Express(Framework), Jade(Template) and Stylus(CSS)
      p #arunaravind
